extends layout

block content
  h1 📅 Load Work Hours
  br
  .form-group.row
    .col-md-10
      p Please select the day and choose the appropiate task. 8 hours shall be registered. When finishing clic the send month button.
    .col-md-2
      input.btn.btn-raised(type='submit' value='Send month')
  hr
  form(action='submit')
      #calendar(style='height:600px;')
      //- modal
      mixin activitypopup(title,id)
        .modal.fade(id=id,tabindex="-1",role="dialog",aria-labelledby=id+"Label" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                h4.modal-title(id=id+"Label")= title
                button.close(type="button",data-dismiss="modal")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
              .modal-body
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='date') Date
                  .col-md-7
                    #loadWorkModalDate
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='activity') Activity
                  .col-md-7
                    select#selActivity.form-control(style=' height:40px;', ' width:20px;', required) 
                        option(selected='') Seleccione
                        option(value='1') Proyecto
                        option(value='2') Producto
                        option(value='3') Desarrollo de Negocios
                        option(value='4') Thales 
                        option(value='5') Incidencia 
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='detail') Detail
                  .col-md-7
                    select#selDetail.form-control(style=' height:40px;', ' width:20px;', required) 
                        option(selected='') Seleccione
                        option(value='1') AIFA
                        option(value='2') SDP 
                        option(value='3') Tren Maya 
                        option(value='4') Vacaciones 
                        option(value='5') RH/VP Meeting 
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='CC') CC
                  .col-md-7
                    input.form-control(type='cc', name='cc', id='cc', placeholder='cc', autofocus, autocomplete='cc', disabled='')
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='hours') From 
                  .col-md-3
                    select#selFromHour.form-control(style=' height:40px;', required) 
                        option(selected='') Seleccione
                        option(value='1') 09:00
                        option(value='2') 09:30
                        option(value='3') 10:00  
                        option(value='4') 10:30
                        option(value='5') 11:00  
                        option(value='6') 11:30
                        option(value='7') 12:00  
                        option(value='8') 12:30
                        option(value='9') 13:00  
                        option(value='10') 13:30
                        option(value='11') 14:00  
                        option(value='12') 14:30
                        option(value='13') 15:00   
                        option(value='14') 15:30
                        option(value='15') 16:00 
                        option(value='16') 16:30   
                        option(value='17') 17:00
                        option(value='18') 17:30 
                  label.col-md-1.col-form-label.font-weight-bold.text-right(for='hours') to
                  .col-md-3
                    select#selToHour.form-control(style=' height:40px;',  required) 
                        option(selected='') Seleccione
                        option(value='1') 09:30
                        option(value='2') 10:00  
                        option(value='3') 10:30
                        option(value='4') 11:00  
                        option(value='5') 11:30
                        option(value='6') 12:00  
                        option(value='7') 12:30
                        option(value='8') 13:00  
                        option(value='9') 13:30
                        option(value='10') 14:00  
                        option(value='11') 14:30
                        option(value='12') 15:00   
                        option(value='13') 15:30
                        option(value='14') 16:00    
                        option(value='15') 16:30   
                        option(value='16') 17:00
                        option(value='17') 17:30 
                        option(value='18') 18:00  
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='commercial') Commercial
                  .col-md-7
                    input.form-control(type='commercial', name='commercial', id='commercial', placeholder='Commercial Name', autofocus, autocomplete='commercial ')  
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='description') Description
                  .col-md-7
                    textarea#description(name='description' rows='4' cols='34', required)
              .modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal", onclick="processLoadwork()") Submit
                button.btn.btn-default(type="button",data-dismiss="modal") Close
      +activitypopup('Activity WorkLoad', 'loadWorkModal')
      script(src='/bundles/tuicalendar/tui-code-snippet.min.js')
      script(src='/bundles/tuicalendar/tui-date-picker.min.js')
      script(src='/bundles/tuicalendar/tui-time-picker.min.js')
      script(src='/bundles/tuicalendar/tui-calendar.js')
      script(src='/js/lib/moment.min.js')
      
      script.
        ////////////////////////////////////////////////////////////////////////////////////////////// GLOBAL VARIABLES
        let Calendar = tui.Calendar;

        ////////////////////////////////////////////////////////////////////////////////////////////// CALENDAR OBJECT INSTANCE
        var cal = new tui.Calendar('#calendar', {
            defaultView: 'month',
            useCreationPopup: false,
            useDetailPopup: false
        });

        ////////////////////////////////////////////////////////////////////////////////////////////// CALENDAR EVENT HANDLERS
        cal.on({
            'clickSchedule': function(e) {
                /*const willModify = confirm(`Title: ${e.schedule.title}
                when: ${yyyymmdd(new Date(e.schedule.start))} 
                Will you update work?`);

                if (willModify) { 
                    
                    //e.schedule.title = prompt('Title', e.schedule.title);
                    //e.schedule.activity = prompt('Activity', e.schedule.activity);
                    cal.updateSchedule(e.schedule.id, e.schedule.calendarId, e.schedule);
                }*/
            },
            'beforeCreateSchedule': function(e) {
                let options = { 
                  backdrop: true, 
                  keyboard: true, 
                  focus: true
                };

                let dateInModal = document.getElementById('loadWorkModalDate');
                dateInModal.innerHTML = moment(e.start._date).format('LL');
                
                let loadworkModal = new bootstrap.Modal(document.getElementById('loadWorkModal'), options);
                loadworkModal.show();
                e.guide.clearGuideElement();
                
            },
            'beforeUpdateSchedule': function(e) {
                /*e.schedule.start = e.start;
                e.schedule.end = e.end;
                cal.updateSchedule(e.schedule.id, e.schedule.calendarId, e.schedule);*/
            },
            'beforeDeleteSchedule': function(e) {
                /* cal.deleteSchedule(e.schedule.id, e.schedule.calendarId);*/
            }
        });

        function loadWorkModalSumbit(e) {
          var schedule = {
            id: +new Date(),
            title: "New Activity",
            isAllDay: true,
            start: e.start,
            end: e.end,
            category:  'allday'
          };

          cal.createSchedules([schedule]);
          e.guide.clearGuideElement();
        }

        function yyyymmdd(dateIn) {
            var yyyy = dateIn.getFullYear();
            var mm = dateIn.getMonth()+1; 
            var dd  = dateIn.getDate();
            return String(10000*yyyy + 100*mm + dd);
        }

        function processLoadwork() {
          let dateInModal = document.getElementById('loadWorkModalDate');
          let activityInModal = document.getElementById('selActivity');
          let detailInModal = document.getElementById('selDetail');
          
          console.log("Lahoraes = " + dateInModal.innerText);
          console.log("Laactividades = " + activityInModal.value);

          var schedule = {
            id: +new Date(),
            title: detailInModal[detailInModal.selectedIndex].text,
            isAllDay: true,
            start: dateInModal.innerText,
            end: dateInModal.innerText,
            category:  'allday'
          };

          cal.createSchedules([schedule]);
          e.guide.clearGuideElement();

          //sacar user tambien

          return true;
        }