extends layout

block content
  h1 📅 Load Work Hours
  br
  .form-group.row
    .col-md-10
      p Please select the day and choose the appropiate task. 8 hours shall be registered. When finishing click the send month button.
    .col-md-2
      input.btn.btn-raised(onclick='saveLoadwork()' value='Save Work')
  hr
  form(action='submit')
      #calendar(style='height:600px;')
      //- modal
      mixin activitypopup(title,id)
        .modal.fade(id=id,tabindex="-1",role="dialog",aria-labelledby=id+"Label" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                h4.modal-title(id=id+"Label")= title
                br
                h4.
                button.close(type="button",data-dismiss="modal")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
              .modal-body
                .form-group.row
                  input(id="csrfToken", type='hidden', name='_csrf', value=_csrf)
                  label.col-md-3.col-form-label.font-weight-bold.text-right User
                  .col-md-7
                    label(id="userName")= user.profile.name
                  .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right TGI
                  .col-md-7
                    label(id="userTgi")= user.profile.tgi
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='date') Date
                  .col-md-7
                    #loadWorkModalDate
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='activity') Activity
                  .col-md-7
                    select#selActivity.form-control(style=' height:40px;', ' width:20px;', required) 
                        option(selected='') Seleccione
                        option(value='1') Proyecto
                        option(value='2') Producto
                        option(value='3') Desarrollo de Negocios
                        option(value='4') Thales 
                        option(value='5') Incidencia 
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='detail') Detail
                  .col-md-7
                    select#selDetail.form-control(style=' height:40px;', ' width:20px;', required) 
                        option(selected='') Seleccione
                        option(value='1') AIFA
                        option(value='2') SDP 
                        option(value='3') Tren Maya 
                        option(value='4') Vacaciones 
                        option(value='5') RH/VP Meeting 
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='CC') CC
                  .col-md-7
                    input.form-control(type='cc', name='cc', id='cc', placeholder='cc', autofocus, autocomplete='cc', disabled='')
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='hours') Hours spent 
                  .col-md-7
                    select#selFromHour.form-control(style=' height:40px;', required) 
                        option(selected='') Seleccione
                        option(value='1') 01:00
                        option(value='2') 02:00
                        option(value='3') 03:00  
                        option(value='4') 04:30
                        option(value='5') 05:00  
                        option(value='6') 06:30
                        option(value='7') 07:00  
                        option(value='8') 08:00 
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='commercial') Commercial
                  .col-md-7
                    input.form-control(type='commercial', name='commercial', id='commercial', placeholder='Commercial Name', autofocus, autocomplete='commercial ')  
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='description') Description
                  .col-md-7
                    textarea#description(name='description' rows='4' cols='34', required)
              .modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal", onclick="processLoadwork()") Register
                button.btn.btn-default(type="button",data-dismiss="modal") Close
      +activitypopup('Activity WorkLoad', 'loadWorkModal')
      script(src='/js/lib/moment.min.js')
      
      script.
        let calendar;

        document.addEventListener('DOMContentLoaded', function() {
          let calendarEl = document.getElementById('calendar');

          calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            businessHours: {
              daysOfWeek: [ 1, 2, 3, 4, 5 ], 
            },
            selectConstraint: "businessHours",
            dateClick: function(e) {
              let dayOfWeek = e.date.getDay();
              
              if (dayOfWeek != 0  && dayOfWeek != 6) { 
                let options = { 
                  backdrop: true, 
                  keyboard: true, 
                  focus: true
                };

                let dateInModal = document.getElementById('loadWorkModalDate');
                dateInModal.innerHTML = e.dateStr;
                
                let loadworkModal = new bootstrap.Modal(document.getElementById('loadWorkModal'), options);
                loadworkModal.show();
              } else {
                alert("You cannot upload work in weekends!");
              }

            }
          });

          calendar.render();

        });

        function processLoadwork() {
          let dateInModal = document.getElementById('loadWorkModalDate');
          let activityInModal = document.getElementById('selActivity');
          let detailInModal = document.getElementById('selDetail');
          let ccInModal = document.getElementById('');
          let userNameInModal = document.getElementById('userName');
          let userTgiInModal = document.getElementById('userTgi');

          let newEvent = {
            title: detailInModal[detailInModal.selectedIndex].text,
            start: dateInModal.innerHTML,
            end: dateInModal.innerHTML,

            exProp_activity: activityInModal[activityInModal.selectedIndex].text,
            exProp_detail: detailInModal[detailInModal.selectedIndex].text,
            exProp_cc: "cc",
            exProp_time: 1,
            exProp_commercial: "test",
            exProp_description: "Description Test"
          };

          calendar.addEvent(newEvent);
        }

        function saveLoadwork() {
          let allEvents = calendar.getEvents();
          let dbObjectArray = [];

          //console.log(allEvents);

          for (let x in allEvents) {
            let dbObject = {
              title: allEvents[x]._def.title,
              start: allEvents[x]._instance.range.start,
              end: allEvents[x]._instance.range.end,

              exProp_activity: allEvents[x]._def.extendedProps.exProp_activity,
              exProp_detail: allEvents[x]._def.extendedProps.exProp_detail,
              exProp_cc: allEvents[x]._def.extendedProps.exProp_cc,
              exProp_time: allEvents[x]._def.extendedProps.exProp_time,
              exProp_commercial: allEvents[x]._def.extendedProps.exProp_commercial,
              exProp_description: allEvents[x]._def.extendedProps.exProp_description
            }

            dbObjectArray.push(dbObject); 

          }

          let token = document.getElementById("csrfToken");

          let xhr = new XMLHttpRequest();
          xhr.open("POST", "https://workload1-2.lialan.repl.co/loadworks", true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('X-CSRF-Token', token.value);
          xhr.send(JSON.stringify({
            data: dbObjectArray
          }));
        }

        